body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.content {
  min-height: calc(100vh - 70px - 64px);
}

h1{
  color: rgb(150, 94, 202);
}

p {
  display: block;
  margin-block-start: 0;
  margin-block-end: 0;

}

span.badge {
  margin-left: 0;
}

div {
  border-radius: 10px;
}

.btn {
  border-radius: 10px;
}

.logo {
  width: 100%;
  height: 40px;
  margin-right: 1rem;
}


.preloader-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 70px auto;
}

.list{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
}

.card{
  display: flex;
  flex-direction: column;
  width: 300px;
  border-radius: 10px;
}

.card-content{
  flex-grow: 1;
}

.contact {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

img {
  border-radius: 10px;
}

.img,
iframe{
  max-width: 100%;
  border-radius: 10px;
}

iframe{
  width: 600px;
  height: 350px;
}

.parallax-container .parallax {
  opacity: 100%;
  background-image: url(../src/assets/about-bg.jpg);
  background-size: cover;
  margin-top: 2rem;
  z-index: -1;
}

.gradient {
  background: linear-gradient(180deg, #25160eab -3.47%, rgba(52, 34, 23, 0) 92.48%);
  min-height: 100%;
}

